.loan-item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 1rem;
  border-bottom: 1px solid #0d6548;
}

/* Style each .loan-item-body */
.loan-item-body {
  padding: 5px;
  text-align: center;
}